*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid {
  display: grid;
  gap: 20px;
  width: 100%;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 60px auto 40px;
  background: #fffdf8;
  grid-auto-rows: 150px;
}
.header{
  grid-row: 60px;
  background-color: #fffbef;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.42);
  z-index: 0;
}
.estiloRodape {
  grid-row: 40px;
  background-color: #fffbef;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.42);
}
/* essa classe pode ser chamada diretamente dentro de qualquer componente que tenha necessidade de ser renderizado nessa área do grid definida */
.content {
  grid-row: auto;
}
/* Estilos  que são usados pela aplicaçao inteira*/
.title {
  font-family: var(--titles-font);
  font-weight: 700;
  font-size: 30px;
  color: #5c0511;
  text-align: center;
  margin-top: 20px;
}






